:root {
    --text-primary: #131102;
    --secondary: #F6CAE8;
    --mainTipografy: "Poppins", sans-serif;
}

.l-wrapper{
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: var(--mainTipografy)
}
 
html {
  scroll-behavior: smooth;
}

.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}

.bg-cherry {
  background-color: #76153C;
}

.bg-cherry-50 {
  background-color: #bea5ab;

}

.bg-beige {
  background-color: #fbf6dc20;
}

.text-cherry{
  color: #76153C;
}

.text-dark{
  color: #061E29;
}

.bg-primary{
  background-color: var(--primary);
}

.text-primary{
  color: var(--text-primary)
}